{% extends 'portfolio/base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<section class="page-container container">
  <h1 class="section-title">About Me</h1>
  <div class="about-card">
    <p>Welcome to my portfolio! I am a passionate software developer. Computer Science & Engineering student and Aspiring Software Engineer with practical experience in Python, Django, React, MySQL, and full-stack application development. Skilled in building scalable web applications, RESTful APIs, and database-driven solutions using clean and maintainable coding practices.</p>
    <p>I have built full-stack e-commerce systems, database query engines, and scalable web services with clean, maintainable architecture.SQA Certified, with knowledge of software testing, test case design, defect reporting, and quality assurance processes. Passionate about developing reliable software and continuously expanding technical expertise.</p>
    
    <h3 style="margin-top: 25px; margin-bottom: 10px;">My Technical Stack</h3>
    <ul class="styled-list">
      <li><strong>Backend:</strong> Python, Django, Django REST Framework,REST API</li>
      <li><strong>Databases:</strong> PostgreSQL, SQL Server</li>
      <li><strong>Frontend:</strong> HTML, CSS, Tailwind CSS, JavaScript, React, React Router, Vite</li>
      <li><strong>Tools & Platforms:</strong> Git, GitHub, VS Code,  Postman</li>
      <li><strong>Software QA & Testing:</strong>Software Quality Assurance (SQA), Manual Testing, Test Case Design, Bug Reporting, SDLC, STLC</li>
    </ul>
  </div>
</section>
{% endblock %}
